@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color:#334370;
}

button:focus {
    background-color: blue;
    outline: none;
}
/* for small screen */
@media (max-width: 400px) {

    #title {
        font-size: 20px;
        height: 15px
    }
    .container {
        width: 215px;
        height: 440px; 
        margin-bottom: 100px;
        margin-top: 100px;
      }
    #info {
        font-size: 10px;
    }
    #form {
        width: 160px;
        height: 100px;
        margin-bottom: 0;
        margin-right: 30px;
        font-size: 10px;
    }

    .btn {
        width: 150px;
        height: 30px;
        padding: 10px;
        font-size: 10px;
        text-align: center;
    }

    #finish-text-score {
        font-size: 10px;
        margin:0;
    }

    #rules-div {
        font-size: 10px;
    }

    #question {
        font-size: 14px;
        text-align: center;
    }
     #myButton {
        width: 80px;
        height: 30px;
    } 

    #play-again-btn {
        margin: auto;
    }

    .next-btn {
        width: 80px;
     }
   
  }
